<!DOCTYPE html>

<html>
  <head>


    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


  </head>

  <body>

    <%= link_to "logout", destroy_user_session_path, method: :delete %>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul>
            <li>1</li>
            <li>3</li>
            <li>2</li>
            <li>1</li>
          </ul>
        </div>
        <div class="col-md-8">
          <p>21312312312321</p>
        </div>
      </div>
    </div>
    <script src="jquery-1.10.2.js"></script>
    <srcipt src="bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>
